# Jacob's script for merging and pushing to master:
/to_master

# Temporary and backup files from editors
\#*#
.#*
*~
.#*#
.*.swp

# Output from tests:
/tests/build.status
/tests/run.status
/tests/*/*.errors
/tests/*/*.output
/tests/results/

# Generated test executables:
/tests/ahven/black-tests-run
/tests/task_interfaces_and_extended_return/run

# Test output to clean up:
/tests/ahven/test_data_[1-4]

# Output from source text metric analysis:
/obj/*.ad[sb].metrix

# Generated and downloaded source files:
/ahven/
/libesl/

# Generated object files:
/obj/*.ali
/obj/*.o
/tests/*/*.ali
/tests/*/*.o

# Configuration file:
.config

# Generated executables:

